vim/.vim/plugged
vim/.vim/autoload/plug.vim
vim/.vim/.netrwhist
nvim/.config/nvim/.netrwhist

zsh/.config/zsh/.zcompdump
zsh/.config/zsh/.zcompcache
zsh/.config/zsh/.zcompdump.zwc
zsh/.config/zsh/.zhistory

env.sh
emacs.d/elpa

lein/repl-history
nvim/Ditto
tags
