stow/clojure/.config/clojure/.cpcache

stow/lein/.lein/repl-history
stow/lein/.lein/self-installs

stow/lein-nubank/.lein/repl-history
stow/lein-nubank/.lein/self-installs

stow/vim/.vim/plugged
stow/vim/.vim/autoload/plug.vim
stow/vim/.vim/.netrwhist
stow/nvim/.config/nvim/.netrwhist
stow/nvim/.config/nvim/Ditto

stow/zsh/.config/zsh/.zcompdump
stow/zsh/.config/zsh/.zcompcache
stow/zsh/.config/zsh/.zcompdump.zwc
stow/zsh/.config/zsh/.zhistory

emacs.d/elpa

tags
