[user]
  name = Fuad Saud
  email = fuadfsaud@gmail.com
	signingkey = CA7466191A09D471
[alias]
  a  = add --verbose
  ap = add-pattern
  au = add --update
  br = branch
  brw = browse
  cb = switch --create
  ci = commit --verbose
  cia = ci --all
  cinc = ci -m ':nail_care:'
  cinos = commit --no-gpg-sign
  cinosa = cinos -a
  cinosm = cinos -m
  cinosam = cinos -am
  cim = ci --message
  ciam = ci --all --message
  co = checkout
  cof = fz-checkout
  conflicts = diff --name-only --diff-filter=U
  cp = cherry-pick
  cpa = cherry-pick --abort
  cpc = cherry-pick --continue
  cry = cherry -v
  current-branch = symbolic-ref HEAD --short
  d  = diff
  default-branch = "!git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@'"
  dc = diff --cached
  dm = "!git show @ --format=short | head -n 2 | tail -n 1 | cut -d ' ' -f 2,3 | xargs git diff"
  dw = diff --word-diff
  f  = fetch --verbose --progress
  fix = ci --fixup
  fixf = fz-fixup
  fixup = ci --fixup HEAD
  foo = "!git switch $(git default-branch) && git fr && git pm"
  fuck = "!git add . && git ci -m 'Fuck this shit, I am done for today!' && git p"
  ft = fetch --verbose --tags
  fr = pull --rebase --verbose
  frm = "!git fr origin $(git default-branch)"
  gh-pages = !git checkout --orphan gh-pages && git rm $(git ls-files) -f
  l  = log --graph --abbrev-commit
  la = log --graph --abbrev-commit --all
  m  = merge --verbose
  nau = update-index --no-assume-unchanged
  nu-sha = "!git sha @ | cut -c -7 | tr -d '\n'"
  p  = push --verbose --progress
  pf = p --force-with-lease
  pm = prune-merged
  pod = p origin --delete
  pprq = "!git p && hub prq"
  prq = pull-request
  prune-merged = "!git branch --merged $(git default-branch) | grep -v \\* | grep -v $(git default-branch) | ifne xargs -rn 1 git branch -d"
  r  = rebase
  ra = rebase --abort
  rc = rebase --continue
  rh = reset --hard
  resign = r --gpg-sign --no-ff
  ri = rebase -i
  rms = "!git rebase $(git default-branch)"
  rom = "!git rebase origin/$(git default-branch)"
  rias = rebase -i --autosquash
  redo = ci --amend --no-edit
  root = rev-parse --show-toplevel
  sd = stash drop
  sed  = "!git ls-files | xargs sed -i"
  sha = rev-parse --short
  shaf = fz-sha
  showf = fz-show
  showm = "!git show @ --format=full | tail -n +2 | head -n 1 | cut -d ':' -f 2 | awk 'BEGIN{FS=" ";OFS="..."} {t1=$1;$1=$2;$2=t1;print}'"
  sl = stash list
  sm = submodule
  snapshot = !git stash save "snapshot: $(date)" && git stash apply "stash@{0}"
  sp = stash pop
  ss = stash show -p
  st  = status --short --branch
  sw = switch
  swc = switch --create
  t = tag
  uiau = update-index --assume-unchanged
  undo = reset HEAD~1
  unstage = reset HEAD
  untracked = ls-files --others --exclude-standard
  wc = whatchanged --graph --abbrev-commit
  wip = ci -m '•••••<[WIP]>•••••'
[color]
  ui = auto
[credential]
  ; helper = xplat
  credentialStore = gpg
	helper = "!git-credential-manager-core"
[core]
  excludesfile = ~/.config/git/ignore
[diff]
  algorithm = patience
[format]
  pretty = %C(yellow)%h •%Creset%C(red)%d%Creset %s %Cgreen• %cr by %Creset%C(magenta)%an%Creset %Creset%C(cyan)|%G?|
[github]
  user = fuadsaud
[hub]
	protocol = https
[merge]
  defaultToUpstream = true
[push]
  default = current
[gitsh]
  defaultCommand = status -sb
[gpg]
  program = gpg
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[rebase]
  autoStash = true
[commit]
  gpgsign = false
[pull]
  rebase = true
[advice]
	detachedHead = false
[credential "https://dev.azure.com"]
	useHttpPath = true
