:root {
  --color0:  #1f2433;
  --color1:  #8c3432;
  --color2:  #7f4c60;
  --color3:  #538798;
  --color4:  #b55242;
  --color5:  #9e7156;
  --color6:  #60a195;
  --color7:  #d3cbaf;
  --color8:  #375268;
  --color9:  #cb2656;
  --color10: #a1617a;
  --color11: #247dae;
  --color12: #c77366;
  --color13: #b8937c;
  --color14: #232839;
  --color15: #eeeadf;
}
