#!/usr/bin/env sh

# # #
# Start the playerctl daemon for keeping track of player usage.
#

playerctld daemon

# # #
# Restore previous session's wallpaper.
#

nitrogen --restore &

# # #
# Enable natural scrolling for all mouse devices and sets up tapping for
# touchpads.
#

enable-natural-scrolling-and-tapping

# # #
# Load screen layout
"$HOME/.config/screenlayout/home-2-way.sh"
