#!/usr/bin/env sh

# # #
# Xresources colorscheme
#
xrdb -merge "$SRC_DIR/fuadsaud/Monrovia/terminal-colors/monrovia.Xresources"

# # #
# Start the playerctl daemon for keeping track of player usage.
#
playerctld daemon

# # #
# Restore previous session's wallpaper.
#
nitrogen --restore &

# # #
# Autostart systemctl user services
systemctl --user start autostart.target

# # #
# Start picom compositor
#
picom &

# # #
# Setup app defaults
#
dmime-defaults

# # #
# Load screen layout
# "$HOME/.config/screenlayout/laptop-only.sh"

# # #
# Start ssh-agent
#
eval $(ssh-agent)
